/*********************************/
/********** Typography ***********/
/*********************************/




/*********************************/
/*********** Buttons *************/
/*********************************/





/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}

.container {
	@media all and (min-width: 1440px) {
		width: 1390px;
	}
	@include respond-to(md) {
		width: 758px;
	}
	@include respond-to(sm) {
		width: 100%;
	}
}

.of-hidden {
	overflow: hidden;
}

/*********************************/
/*********** Modules *************/
/*********************************/

// sections header
.section-header {
	h3 {
		color: #343434; font-family: $SF-Display; font-size: 31px; font-weight: 400; line-height: 36px; text-align: center;
		@include respond-to(md) {
			font-size: 16px; line-height: 24px; font-family: $HNC-Roman;
		}
	}
}

// header
.header {
	display: flex; justify-content: space-between; padding: 0 40px;
	@include respond-to(md) {
		padding: 0;
	}
	a.logo {
		display: inline-block;
		@include respond-to(md) {
			padding-top: 6px;
		}
		img {
			display: inline;
			@include respond-to(md) {
				width: 198px;
			}
		}
	}
	ul {
		li {
			display: inline-block; vertical-align: top; margin-right: 47px;
			&:first-child {
				padding-top: 8px;
			}
			&:last-child {
				margin-right: 0;
				a {
					height: 50px; width: 50px;
				}
			}
			a {
				color: $mc-1; font-family: $HNC-Roman; font-size: 15px; line-height: 36px; text-transform: uppercase;
				display: block;
				&:hover {
					span {
						&:after {
							transform: translateX(0);
						}
						em, b {
							background: #ffffff;
						}
					}
				}
				&.active {
					em {
						opacity: 0;
					}
					b {
						opacity: 1;
					}
				}
				span {
					display: inline-block; width: 50px; height: 50px; padding: 15px 12px 0; position: relative;
					border: 2px solid #606060;
					overflow: hidden;
					&:after {
						content: '';
						display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; transform: translateX(-100%); z-index: 1;
						background: #606060;
						transition: transform 0.3s ease-out;
					}
					em {
						display: block; width: 22px; height: 2px; margin-bottom: 5px; position: relative; z-index: 2;
						background: #606060;
						transition: background 0.3s ease-out, opacity 0.3s ease-out;
						&:last-of-type {
							margin-bottom: 0;
						}
					}
					b {
						display: block; width: 22px; height: 1px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(45deg); z-index: 2;
						background: #606060;
						opacity: 0; transition: background 0.3s ease-out, opacity 0.3s ease-out;
						&:last-of-type {
							transform: translate(-50%,-50%) rotate(-45deg);
						}
					}
				}
			}
		}
	}
}

// menu
.menu {
	position: relative; z-index: 5;
	pointer-events: none;
	opacity: 0;
	&.active {
		pointer-events: all;
		opacity: 1;
		transition: opacity 0.3s 0.3s ease-out;
	}

	ul {
		&.navigation {
			width: 500px; margin: 0 auto 139px; padding-top: 179px;
			@include respond-to(md) {
				padding-top: 219px; margin: 0 auto 259px;
			}
			li {
				@include respond-to(md) {
					margin-bottom: 16px;
				}
				a {
					color: #333333; font-family: $SF-Display; font-size: 40px; font-weight: 400; line-height: 84px; text-transform: uppercase; letter-spacing: 2.8px; text-align: center;
					display: block; width: 460px; margin: 0 auto; position: relative;
					&:hover {
						&:after {
							width: 100%;
						}
					}
					&:after {
						content: '';
						position: absolute; width: 0%; height: 12px; left: 50%; bottom: 9px; transform: translateX(-50%);
						background: #333333;
						transition: width 0.3s ease-out;
					}
				}
			}
		}
		&.socials {
			text-align: center;
			margin-bottom: 0;

			li {
				display: inline-block; margin-left: 10px; margin-bottom: 0;
				@include respond-to(md) {
					margin-left: 20px;
				}
				&:first-child {
					margin-left: 0;
				}
				a {
					display: block; width: 30px; height: 30px; position: relative;
					border-radius: 50%;
					transition: background 0.2s ease-out;
					i {
						color: #3c3d41; font-size: 18px;
						position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
						transition: color 0.2s ease-out;
					}
					&:hover {
						&.fb {
							background: #3b5998;
						}
						&.tw {
							background: #34ccff;
						}
						&.rss {
							background: #fb7629;
						}
						&.insta {
							background: #a835b5;
						}
						&.gp {
							background: #d44132;
						}
						i {
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}

// intro
.intro {
	padding: 0 40px; position: relative; z-index: 10;
	@include respond-to(md) {
		padding: 0;
	}
	h1 {
		color: $mc-1; font-family: $SF-Display; font-size: 52px; font-weight: 400; line-height: 56px;
		@include respond-to(1440px) {
			font-size: 48px;
		}
	}

	&-img {
		position: absolute; right: 0; bottom: -74px;
		@include respond-to(md) {
			right: -76px; bottom: -13px;
		}
		&.inactive {
			.intro-img {
				&-1, &-2 {
					img {
						&.img {
							&-1,
							&-2,
							&-3,
							&-4,
							&-5,
							&-6,
							&-7,
							&-8,
							&-9,
							&-10,
							&-11,
							&-12,
							&-13 {
								bottom: 0;
							}
						}
					}
				}
			}
		}
		&-1,
		&-2 {
			position: absolute; right: 0; bottom: 0;
			img {
				display: block; position: relative;
				transition: bottom 1.5s cubic-bezier(.19,.35,.28,.89);
			}
		}
		&-1 {
			img {
				position: absolute; right: 0; bottom: 0;
				&.img {
					&-1 {bottom: 253px;}
					&-2 {bottom: 230px;}
					&-3 {bottom: 210px;}
					&-4 {bottom: 189px;}
					&-5 {bottom: 169px;}
					&-6 {bottom: 148px;}
					&-7 {bottom: 128px;}
					&-8 {bottom: 106px;}
					&-9 {bottom: 86px;}
					&-10 {bottom: 64px;}
					&-11 {bottom: 44px;}
					&-12 {bottom: 22px;}
					&-13 {bottom: 0px;}
				}
			}
		}
		&-2 {
			height: 592px; width: 233px;
			background: #f3f3f3;
			img {
				position: absolute; right: 0; bottom: 0;
				&.img {
					&-1 {bottom: 499px;}
					&-2 {bottom: 453px;}
					&-3 {bottom: 408px;}
					&-4 {bottom: 363px;}
					&-5 {bottom: 317px;}
					&-6 {bottom: 273px;}
					&-7 {bottom: 227px;}
					&-8 {bottom: 183px;}
					&-9 {bottom: 138px;}
					&-10 {bottom: 93px;}
					&-11 {bottom: 48px;}
					&-12 {bottom: 0px;}
				}
			}
		}
	}
}

// services
.services {
	ul {
		display: flex;
		li {
			width: 50%; position: relative;
			overflow: hidden;
			&:hover {
				h2 {
					color: $mc-1;
				}
				div.info {
					transform: translateX(0);
				}
			}
			h2 {
				color: #ffffff; font-family: $SF-Display; font-size: 20px; font-weight: 400; line-height: 36px; text-transform: uppercase; letter-spacing: 1.8px;
				position: absolute; left: 66px; top: 35px; margin: 0; z-index: 10;
				transition: color 0.3s ease-out;
				@include respond-to(md) {
					font-size: 16px; line-height: 24px; font-family: $HNC-Roman;
					left: 20px; top: 20px; max-width: 200px;
				}
			}
			div.info {
				position: absolute; left: 0; top: 0; width: 100%; height: 100%; transform: translateX(-100%); z-index: 5; padding-top: 200px;
				background: rgba(255,255,255,0.8);
				transition: transform 0.3s ease-out;
				p {

				}
				a {
					color: $mc-1; font-family: $SF-Display; font-size: 20px; font-weight: 400; line-height: 36px; text-transform: uppercase; letter-spacing: 1.4px;
				}
			}
			img {
				position: relative;
				@include respond-to(1440px) {
					left: 50%; transform: translateX(-50%);
				} 
				@include respond-to(md) {
					height: 229px;
				}
			}
		}
	}
}

// advantages
.advantages {
	padding-top: 59px;
	@include respond-to(md) {
		padding-top: 29px;
	}
	ul {
		display: flex;
		li {
			position: relative; width: 33.33333%; height: 334px;
			background: #ffffff; border-right: solid 1px #f3f3f3;
			@include respond-to(md) {
				height: 180px;
			}
			&:last-child {
				border: none;
			}
			p {
				text-align: center;
				margin: 0; position: absolute; left: 50%; top: calc(50% + 4px); transform: translate(-50%,-50%);
				@include respond-to(md) {
					width: 100%; padding: 0 15px; position: relative; left: 0; top: 0; transform: none; padding-top: 50px;
				}
				i {
					&.icon{
						&-target {
							@include respond-to(md) {
								display: none;
							}
							&-md {
								display: none;
								@include respond-to(md) {
									display: inline-block;
								}
							}
						}
						&-ring {
							@include respond-to(md) {
								display: none;
							}
							&-md {
								display: none;
								@include respond-to(md) {
									display: inline-block;
								}
							}
						}
						&-car {
							@include respond-to(md) {
								display: none;
							}
							&-md {
								display: none;
								@include respond-to(md) {
									display: inline-block;
								}
							}
						}
					}
				}
				span {
					color: #343434; font-family: $HNC-Roman; font-size: 17px; line-height: 23px; letter-spacing: -0.07px;
					display: block; margin-top: 59px;
					@include respond-to(md) {
						font-size: 14px; line-height: 20px; letter-spacing: 0.2px;
						margin-top: 12px;
					}
					br {
						@include respond-to(md) {
							display: none;
						}
					}
				}
			}
		}
	}
}

// about
.about {
	padding-left: 40px;
	@include respond-to(md) {
		padding-left: 0;
	}
	h4 {
		color: #333333; font-family: $SF-Display; font-size: 20px; font-weight: 400; text-transform: uppercase; letter-spacing: 1.8px; line-height: 23px;
		@include respond-to(md) {
			font-size: 16px; line-height: 20px; font-family: $HNC-Roman; letter-spacing: 1.2px;
			padding-top: 3px;
		}
	}
	p {
		color: #343434; font-family: $HNC-Roman; font-size: 17px; letter-spacing: 0.14px; line-height: 29px;
		padding-left: 61px; margin-bottom: 25px;
		@include respond-to(md) {
			font-size: 14px; line-height: 27px; letter-spacing: 0.2px;
			padding-left: 48px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// testimonials
.testimonials {
	position: relative; padding: 234px 0 104px;
	background: #ffffff;
	@include respond-to(md) {
		padding: 116px 0 104px;
	}
	&:before {
		content: '';
		display: block; width: 32px; height: 25px; position: absolute; left: 50%; top: 50px; transform: translateX(-50%);
		background: url('../img/quotes.png') center center no-repeat;
	}
	blockquote {
		font-size: inherit; text-align: center;
		width: 610px; margin: 0 auto; padding: 0;
		border: none;
		& > p {
			color: #333333; font-family: $SF-Display; font-size: 31px; font-weight: 400; line-height: 43px; letter-spacing: -0.1px; text-align: center;
			@include respond-to(md) {
				font-size: 16px; line-height: 24px; font-family: $HNC-Roman; letter-spacing: 0.15px;
				height: 130px;
			}
			br {
				display: none;
				@include respond-to(md) {
					display: block;
				}
			}
		}
		footer {
			margin-top: 47px;
			&:before {
				content: none;
			}
			cite {
				display: block;
				p {
					color: #333333; font-family: $HNC-Roman; font-size: 12px; letter-spacing: 1.2px; text-transform: uppercase;
					margin-bottom: 4px;
					@include respond-to(md) {
						margin-bottom: 11px;
					}
				}
				span {
					color: #333333; font-family: $HNC-Roman; font-size: 14px; line-height: 16px; letter-spacing: 0.2px;
				}
			}
		}
	}
}

// partners 
.partners {
	ul {
		li {
			a {
				img {

				}
				span {

				}
			}
		}
	}
}
// contacts
.contacts {
	margin-bottom: 128px;
	@include respond-to (md) {margin-bottom: 120px;}
	ul {
		display: flex;
		li {
			width: 50%; overflow: hidden;
			background: #ffffff;
			&:first-child {
				padding: 34px 60px 0 40px;
				@include respond-to (md) {
					padding: 20px 20px;
				}
			}
			h3 {
				color: #333333; font-family: $SF-Display; font-size: 20px; font-weight: 400; letter-spacing: 1.4px; line-height: 36px; text-transform: uppercase;
				margin-bottom: 112px;

				@include respond-to (md) {
					font-size: 16px; letter-spacing: 1.12px;
					margin-bottom: 62px
				}
			}
			dl {
				margin-bottom: 0;
				&:after {
					content: '';
					display: block; width: 100%; height: 0px; opacity: 0; visibility: hidden; clear: both;
				}
				dt, dd {
					float: left;
				}
				dt {
					color: #909090; font-family: $HNC-Roman; font-size: 14px; font-weight: 400; line-height: 29px;
					width: 100px;
					@include respond-to (md) {
						font-size: 12px;
						width: 66px;
					}
				}
				dd {
					color: #333333; font-family: $HNC-Roman; font-size: 17px; letter-spacing: -0.07px; line-height: 29px;
					width: calc(100% - 100px); margin-bottom: 25px;
					@include respond-to (md) {
						font-size: 14px;
						margin-bottom: 23px;
					}
					&:last-child {
						margin-bottom: 0; position: relative; top: -10px;
						@include respond-to (md) {
							top: 15px;
						}

					}
					a {
						color: #909090; font-size: 14px; letter-spacing: 2px; text-transform: uppercase;
					}
				}
			}
			@include respond-to (md) {
				figure { position: relative;
					img {position: absolute; top: -26px; left: -30%;}
				}
			}
		}
	}
}

// footer
.footer {
	padding: 60px 40px 40px;
	background-color: #3c3d41;
	@include respond-to (md) {
		padding: 30px 20px 40px;
	}
	
	p {
		color:#ffffff; font-family: $HNC-Roman; font-size: 12px; letter-spacing: 0.6px;
		@include respond-to (md)  {
			margin-bottom: 35px;
		}
	}
	h3 {
		font-family: $HNC-Roman; line-height: 0.6;
		margin-top: 0; margin-bottom: 10px; min-height: 26px;
		@include respond-to (md) {
			margin-bottom: 30px;
		}

		a{
			color: #ffffff; font-size: 12px; letter-spacing: 1.2px; text-transform: uppercase;
			opacity: 0.2;
		}
	}
	.footer-third h3 {
		min-height: 26px;
		@include respond-to (md) {min-height: auto;}
	}
	.footer-devider {
		margin-top: 0; margin-bottom: 40px;
		border: 1px solid #f3f3f3; opacity: 0.2;
		@include respond-to (md) {
			margin-top: 0px; margin-bottom: 20px; 
		}
		
		&:nth-of-type(1) {
			margin-top: 52px;
			@include respond-to (md) {
				margin-top: 22px;
			}
		}
		&:nth-of-type(3) {
			margin-top: 18px;
			@include respond-to (md) {
				margin-bottom: 40px;
			}
		}
	}

	ul {
		margin: 20px 0 55px;
		@include respond-to (md) {
			margin: 0 0 40px;
		}
		li{
			margin-bottom: 10px;
			a{
				color: #ffffff; font-family: $HNC-Roman; font-size: 15px; letter-spacing: -0.07px;
			}
			&:last-child {margin-bottom: 0;}
		}
	}

	.copyright {
		position:relative; display: flex; justify-content: space-between;
		small {
			color: #909090; font-family: $HNC-Roman; font-size: 14px;
		}
		ul.socials {
			margin: 0;

			li {
				display: inline-block; margin-left: 25px; margin-bottom: 0;
				@include respond-to (md) {
					margin-left: 40px;
				}
				&:first-child {
					margin-left: 0;
				}
				a {
					i {
						opacity: 0.5;
					}
				}
			}
		}
	}	
}