// colors
$mc-1: #343434;

// fonts
$SF-Display: 'SFNS-Display', sans-serif;
$HNC-Roman: 'HelveticaNeueCyr-Roman', sans-serif;


// AGP 
$main-Light: 'AkzidenzGroteskPro-Light', sans-serif;
$main-MdEx: 'AkzidenzGroteskPro-MdEx', sans-serif;
$main-Regular: 'AkzidenzGroteskPro-Regular', sans-serif;
$main-Ext: 'AkzidenzGroteskPro-Ext', sans-serif;